@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

@font-face {
  font-family: 'Genericons';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/genericons-regular-webfont.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/genericons-regular-webfont.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/genericons-regular-webfont.eot") format("truetype");
}

@keyframes fadein2 {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes changeColor {
    from {background-color: rgba(255,255,255,0.8);}
    to {background-color: #f4f4f4;}
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  vertical-align: baseline;
  font-weight: 100;
}

.pageOne{
  background-image: url("./pics/pic4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:0 10px;

}

.App {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
}

.title{
  color: black;
  font-size: 12vw;
  background-color: rgba(255,255,255,0.2);
  font-weight: 50;
  border-radius: 2%;
  margin: 1%;
  -webkit-animation: fadein2 2s;

}


.tribes{
  display: flex;
  justify-content: center;
  width: 50vw;
  -webkit-animation: fadein2 2s;
}

.continueBtn{
  margin: 0 5%;
  border:none;
  font-size: 3vw;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  border-radius: .5vw;
  background-color: transparent;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  transition: transform .2s ease;

}

.continueBtn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.landingPage{
  -webkit-animation: fadein2 1s;
}

.navBarContainer{
  display: flex;
  flex-direction:column;
  justify-content:top;
  align-items:center;
}

.navBar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  list-style-type: none;
  background-color: rgba(255,255,255,0.8);
  font-size: 2.5vw;
  position: fixed;
  top: 0;
  z-index: 1;
  height: 3vw;
  color: black;
}

.navBar li{
  width: 20vw;

}

.navBar li a{
  text-decoration: none;
  color: black;
}
.navBar li{
  background-color: rgba(255,255,255,0.8);
  transition: background-color .5s ease;
}

.navBar li:hover{
  background-color: rgba(223, 223, 223,0.8);
}

.pageTwo {
  height: 100vh;
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding:0 10px;
  background-image: url('./pics/pic62.jpg');
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

.title2{
  color: white;
  font-size: 15vw;
  font-weight: 100;
  border-radius: 2%;
  margin: 2%;
  text-shadow: 4px 8px 6px rgba(0,0,0,0.5);

}

.subtitle2{
  font-size: 2.5vw;
  color: white;
  padding: 0 1%;
  background-color: rgba(0,0,0,0.2);
  width: auto;
  margin: 0 auto;
  border-radius: 2vw;
  font-weight: bold;
}

.title3Box{
  height: 21vh;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

}

.title3{
  font-size: 9vw;
}

.imgDiv{
  background-image: url('./pics/pic2.jpg');
  min-height: 76vh;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-attachment: fixed;
}

.paragraph3 {
  font-size: 4vw;
  color:white;
  text-shadow: -1px 0 black, 0 .5px black, .5px 0 black, 0 -1px black;
}

.title4Box{
  height: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
}

.title4{
  font-size: 9vw;
  
}

.imgDiv2{
  background-image: url('./pics/3147.jpg');
  min-height: 53vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-attachment: fixed;
}

.teachersGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 8vw 25vw 15vw;
  grid-template-areas:
    "name1 name2 name3"
    "pic1 pic2 pic3"
    "des1 des2 des3";
  justify-items:center;
}

.teacherName{
  font-size: 5vw;
}

.teacherPic{
  border-radius: 10px;
  width: 70%;
  transition: transform 1s ease;
}

.teacherPic:hover{
  transform: scale(1.1);
}

.teacherDes {
  color:black;
  font-size: 1.7vw;
  margin: 0 50px;
  text-align: justify;
}

.name1{
  grid-area: name1;
}

.pic1{
  grid-area: pic1;
}

.des1{
  grid-area: des1;
}

.name2{
  grid-area: name2;
}

.pic2{
  grid-area: pic2;
}

.des2{
  grid-area: des2;
}

.name3{
  grid-area: name3;
}

.pic3{
  grid-area: pic3;
}

.des3{
  grid-area: des3;
}



.imgDiv3{

  background-image: url('./pics/pic4.jpg');
  height: 35vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-attachment: fixed;
}

.studentsImg{
  border-radius: 10px;
}

.studentsPar{
  font-size: 2.8vw;
  margin:1vw 5vw;
  color: black;
  background-color: rgba(255,255,255,0.6);
  border-radius: 10px;

}

.donateBox{
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 40% 40%;
  grid-template-areas:
    "words words"
    "donate donateTeacher";
}

.imgDiv4{
  background-image: url('./pics/3147.jpg');
  height: 40vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  padding: 5% 0;
}
.donateParBox{
  height: auto;
  padding: 0 2%;
}
.donatePar{
  font-size: 3vw;
  color: black;
  background-color: rgba(255,255,255,0.6);
  border-radius: 20px;
  margin: 0 6vw;
}

.wordsBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 30vw;
  margin: 0 5vw;
}

.words{
  font-size: 4.3vw;
  color: white;
  text-shadow: -1px 0 black, 0 .5px black, .5px 0 black, 0 -1px black;
  margin: 1.7vw;
  background-color: rgba(0,0,0,0.5);
  width: 27vw;
  border-radius: 10px;

}

.donateInput{
  padding: 1vw;
}

.numberInput{
  font-size: 1.5vw;
  height: 100%;
  margin:1%;
}

.donateBtn{
  height: 50%;
  font-size: 1.5vw;
}


.donate{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 0 4vw;
}

.donateTeacher{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: auto;
}

select{
  font-size: 1.2vw;
  font-family:'Open Sans Condensed', sans-serif;
  width: 13vw;

}

.checkboxBox{

  background-color: rgba(255,255,255,0.7);
  font-size: 2.5vw;
  border-radius: 10px;
}

.checkbox{
  margin: 0%;
}

.imgDiv5{
  background-image: url('./pics/pic5.jpg');
  height: 25vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}

.contactTitle{
  color:white;
  font-size: 5.5vw;
  text-shadow: 4px 8px 6px rgba(0,0,0,0.3);
}

.contactForm{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

form{
  padding:5%;
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 70vw;

}

form p {
  margin: 1%;
  font-size: 2vw;
}

input{
  font-size: 1.5vw;
  font-family: inherit;
  letter-spacing: 1px;
  margin: 1%;
  width: 75%;
  height: 3.5vw;
}
textarea{
  font-family: inherit;
  font-size: 1.5vw;
  letter-spacing: 1px;
  margin: 1%;
  width: 75%;
  height: 3.5vw;
}



form button{
  font-family: inherit;
  margin: 5% 1% 1% 1%;
  width: 30%;
  font-size: 1.5vw;
}

form button:hover{

}

.connect{
  margin: 0%;
  padding: 4% 10%;
}

.connect h2{
  font-size: 2.5vw;
}

.connect p {
  font-size: 1.5vw;
}

.footer{
  background-color: #2A3143;
}

.uniInfo{
  width: 100%;
}

.uniInfo h2{
  color: white;
  text-shadow: -1px 0 black, 0 .5px black, .5px 0 black, 0 -1px black;
  font-size: 2.5vw;
}

.accordion{
  width: 100%;
  min-width: 400px;
  overflow: hidden;
  font-size: 0;
  height: 75px;
  display: block;
}

.tab{
  display: inline-block;
  background-color: #666;
  border-right: #333 solid 1px;
  width: 60px;
  height: 60px;
  overflow: hidden;
  position: relative;
  margin: 0;
  transition: all 0.5s ease-in-out 0.1s;

}

.tab .content{
  background-color: #fff;
  height: 60px;
  width: 150px;
  position: relative;
  padding: 3px;
  margin-left:60px; 
}

.tab .content h1{
  font-size: 1.5vw;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;

}
.tab .content p{
  font-size: .8vw;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}

.tab:hover{
  width: 210px;
}


.tab:hover .social a:after {
  margin-left: 0px;
}

.social a:after,
.social a:before {
  transition: all .5s ease-in-out 0.1s;
  width: 60px;
  height: 60px;
  position: absolute;
  text-indent: 0;
  padding-top: 18.75px;
  padding-left: 0px;
  display: block;
  font: normal 22.5px Genericons;
  color: #fff;
}

.social a:after {
  font-size: 22.5px;
  padding-top: 18.75px;
  margin-left: 60px;
}

.youtube a:before,
.youtube a:after {
  content: '\f213';
}
.youtube a:after {
  background-color: #ff0000;
}

.instagram a:before,
.instagram a:after {
  content: '\f215';
}
.instagram a:after {
  background-color: #6dc993;
}

.facebook a:before,
.facebook a:after {
  content: '\f204';
}
.facebook a:after {
  background-color: #3b5998;
}

.twitter a:before,
.twitter a:after {
  content: '\f202';
}
.twitter a:after {
  background-color: #6dc5dd;
}

.rights{
  color: #f4f4f4;
}

.rights p a {
  color: #f4f4f4;
}

input[type=checkbox] {width:1.5vw; height:1.5vw;}

@media only screen  and (max-width: 1000px){
  .title{
    font-size: 25vw;
    -webkit-animation: fadein2 5s;
  }

  .tribes{
    justify-content: center;
    width: 100vw;
    -webkit-animation: fadein2 5s;
  }

  .continueBtn{
    font-size: 7.5vw;
    margin:0;
    padding:2.4%;
  }

  .navBar{
    font-size: 115%;
    height: auto;
  }

  .navBar li {
    margin: 0px;
  }

  .title2{
    font-size: 40vw;
  }

  .subtitle2{
    font-size: 180%;
  }

  .title3Box{
    height: 600%;
  }

  .title3{
    font-size: 500%;
  }

  .paragraph3{
    font-size: 200%;
  }

  .imgDiv2{
    height: 100%;
  }

  .title4Box{
    height: 40%;
  }

  .title4{
    font-size: 500%;
  }

    .teachersGrid{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "name1"
    "pic1"
    "des1"
    "name2"
    "pic2"
    "des2"
    "name3"
    "pic3"
    "des3";
}

  .studentsImg{
    width:95%;
  }

  .teacherName{
    font-size: 500%;
  }

  .teacherPic{
    width: 70%;
  }

  .teacherPic:hover{
  transform: none;
}
  .teacherDes{
    font-size: 150%;
    margin-bottom: 5%;
  }

  .imgDiv3{
    height: auto;
    padding: 4% 0;
  }

  .studentsPar{
    font-size: 190%;
  }

  .imgDiv4{
    height: auto;
  }

  .donateParBox{
    height: 30%;
  }

  .donatePar{
    font-size: 156%;
    margin-bottom: 5%;
  }

  .donateBox{

    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: flex-start;
    grid-template-areas: 
    "word1"
    "donate1"
    "word2"
    "donate2"
  }

  .donate{
    width: auto;
    height: auto;
    margin: 2% 0 7% 0;
  }

  .donateTeacher{
    width: 80%;
    height: auto;
    margin: 2% 0;
  }

  .word1{
    grid-area: word1;
    width: 160%;
  }

  .word2{
    grid-area: word2;
    width: 160%;
  }

  .donate1{
    grid-area: donate1;
  }

  .donate2{
    grid-area: donate2;
  }

  .wordsBox{
    height: auto;
  }

  .words{
    font-size: 180%;
  }

  .numberInput{
    font-size: 80%;
  }

  .donateBtn{
  font-size: 100%;
  }

  select{
    width: 60%;
    font-size: 120%;
  }

  .checkboxBox{
    font-size: 130%;
  }

  input[type=checkbox] {width:5vw; height:5vw;}

  .pageTwo, .imgDiv, .imgDiv2, .imgDiv3, .imgDiv4, .imgDiv5{
    background-attachment: scroll;
    -webkit-transition: height 999999s;
    transition: height 999999s;
  }

  .imgDiv5{
    flex-direction:column;
    height: 35vw;
  }

  .contactTitle{
    font-size: 14vw;
  }

  .contactForm{
    flex-direction: column;
    align-items:center;
    width: 100%;
  }

  form {
    width: 90%;
  }

  form p {
    font-size: 8vw;
  }

  input{
  height: 5vw;
  font-size: 6vw;
  width: 70vw;
  margin: 2%;
  }

  textarea{
  font-size: 6vw;
  width: 80vw;
  height: 10vw;
  margin: 2%;
  }

  form button{
    font-size: 4vw;
    margin: 2%;
  }

  .connect h2{
    font-size: 8vw;
  }

  .connect p {
    font-size: 5vw;
  }

  .uniInfo h2{
    font-size: 5vw;
  }

  .accordion{
    min-width: 0;
  }


}

@supports (-webkit-overflow-scrolling: touch) {
  .imgDiv{
    min-height: 400px;
    }
  .imgDiv4{
    height: 75vh;
    overflow: hidden;
    padding-bottom: 15%;
    padding-top: 0;
    }

    .donateParBox{
      margin-top: 5%;
      margin-bottom:-5%;
    }

    .donatePar{
      margin-bottom: 0;
      padding-bottom: 0;
    }

    .donateBox{
      padding-top: 0;
    }
    .donate{
    width: auto;
    height: auto;
    margin-bottom:5%;
  }

  .donateTeacher{
    width: 80%;
    height: auto;
    margin: 0%;
  }

  }

